.spacer {
    height: 100px;
}
.content {
    height: 100%;
    background-color: #005055;
    text-align: center;
    padding: 8px;
}

.demo-grid .grid-container {
    border-radius: 5px;
    background-color: #00959f;
}

.demo-grid .grid-item {
    border-radius: 5px;
    color: white;
}

.button-group {
    text-align: center;
    padding: 20px;
}

label {
    color: var(--font-color-1);
}

.radio-button-input {
    height:18px; width:18px;
}

input:hover {

    cursor: pointer;
}