.spacer {
    height: 100px;
}
.content {
    /*border: 2px solid black;*/
    background-color: #005055;
    text-align: center;
    padding: 8px;
}

.demo-grid .grid-container {
    border-radius: 5px;
    background-color: #00959f;
}

.demo-grid .grid-item {
    border-radius: 5px;
    color: white;
}